
.container {
    width: 100%;
  
    margin: 0 auto; 
    padding: 0 20px; 
    box-sizing: border-box; 
  }
  
  .row {
    display: flex;
    flex-direction: row; 
  }
  
  .form-control {
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px; 
  }
  