body{
 margin:0px;
 padding:0px;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 color:white;
background-color: #22242a;
 /* background-image: radial-gradient(at center center, #331174 0%, #070000 100%); */
}